body {
  font-family: "Ubuntu", sans-serif;
}

.dropdown-toggle::after {
  display: none !important;
}

ul,
ol {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.topColor {
  background: #cf137e!important;
  color: white ;
}

.templateColor , .templateColor:hover {
  background: #ff77ca !important;
  color: #ffffff !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: inherit !important;
}

.main-footer {
  border-top: 0 !important;
}

